@font-face{
    font-family: 'centuryGothic';
    src : url('../../fonts/ufonts.com_century-gothic.ttf') format('truetype'),
    url('../../fonts/ufonts.com_century_gothic__2_.eot') format('eot');
}

*{font-family: 'centuryGothic',Arial,sans-serif;}

html{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

html,body{
    min-width: 1080px;
    height: 100%;
    margin: 0;
    padding: 0;
}

#wrapper{
    width: 100%;
    height: 100%;
    background-size: cover;
}
